:root {
  --font-family-ar: "Cairo", sans-serif;
  --font-family-en: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-en);
  height: 100vh;
}

p {
  font-weight: 500;
  font-size: 1.3rem;
}

a {
  text-decoration: none;
  color: #000;
  transition: all 0.3s linear;
  font-size: 1.2rem;
}

a:hover {
  color: #777;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  background-color: rgb(132, 184, 230);
  font-size: 1rem;
  outline: none;
  border: 1px solid transparent;
  border-radius: 0.2rem;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
  transition: all 0.3s linear;
  cursor: pointer;
}

.btn:hover {
  box-shadow: none;
  background-color: rgb(118, 176, 228);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.heading,
.form {
  text-align: center;
}

header {
  background-color: aliceblue;
}

header .navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar ul {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar ul li a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 0.5rem;
}

/* Form */
.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.heading h2 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.form {
  max-width: 500px;
  margin: 1rem auto;
  padding: 1rem 0.5rem;
}

.form form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-group {
  width: 100%;
}

.form-group input {
  height: 45px;
  width: 100%;
  padding: 1rem 0.5rem;
  font-size: 1.1rem;
  outline: none;
  border: 1px solid transparent;
  border-radius: 0.2rem;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.3s linear;
}

.form-group input:focus {
  border-color: rgb(132, 184, 230);
  box-shadow: none;
}

.form-group .btn {
  height: 45px;
  width: 100%;
  background-color: rgb(132, 184, 230);
  font-size: 1.1rem;
  outline: none;
  border: 1px solid transparent;
  border-radius: 0.2rem;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
  transition: all 0.3s linear;
  cursor: pointer;
}

.form-group .btn:hover {
  box-shadow: none;
  background-color: rgb(118, 176, 228);
}

.content {
  margin: 1rem auto;
  padding: 1rem 0.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;
}

.content .goal {
  background-color: aliceblue;
  padding: 1rem;
  position: relative;
}

.content .goal .close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  cursor: pointer;
  transition: all 0.3s linear;
}

.content .goal .close:hover {
  color: tomato;
}

.loadingSpinnerContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: 0.5;
  transition: all 0.3s linear;
  z-index: 100;
}
.loadingSpinnerContainer .loadingSpinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 200;
  font-size: 3em;
}
